@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@200;300;400;500;600&family=Quicksand&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
#myCanvas{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Colors:
    f2ebe6 white
    cf9535 mustard
    89908c gray
    a95144 dusty red
    363945 dark slate

*/




nav {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0px;
    height: 60px;
    background-color: #89908c;
    box-shadow: 0 8px 6px -6px black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

nav li {
    color: #f2ebe6;
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    margin: 0 1rem;
}

.hero{
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    /* background-color: #363945; */
}
.hero h2{
    color:#f2ebe6;
    font-size: 31px;
    text-align: center;
    margin: 0 3rem;
}

.hero button {
    position: absolute;
    z-index: 2;
    bottom: 160px;
    border-radius: 14px;
    padding: 1rem 1.4rem;
    background-color: #a95144;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: large;
    color: #f2ebe6;
}
.about{
    display: flex;
    justify-content: space-between;
    background-color: #f2ebe6;
}

.about aside {
    margin: 25px 30px;
    padding: 10px;
    flex: 1;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    
}
.skills-section {
    margin: 25px 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex:1.25;
}
.skills-section i{
    color: #a95144;
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 5px;
}
.skills-section h6{
    color: #89908c;
    font-family: 'Manrope', sans-serif;
    font-size: clamp(1rem, 2vw, 1.3rem); 
    margin: 4px 0px;
}
.about h2{
    color: #89908c;
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0px;
}
.skills-section h5{
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    margin: 5px 0px;
    color:#363945
}
.skill-set{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */

}
.skills-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2px;
}
.projects{
    height: calc(150vh);
    background-color: #363945;
}
.contact{
    height: calc(30vh);
    background-color: #363945;
}

@media (max-width: 940px){
    .about{
        flex-direction: column;
    }
}

