@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@200;300;400;500;600;700&family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
#myCanvas {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} /* Colors: f2ebe6 white cf9535 mustard 89908c gray a95144 dusty red 363945 dark slate https://codepen.io/mweslander/pen/JreNPj */
nav {
  position: sticky;
  z-index: 2;
  position: -webkit-sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  height: 60px;
  background-color: #89908c;
  box-shadow: 0 8px 6px -6px black;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
}
nav a {
  color: #f2ebe6;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  margin: 0 1rem;
  transition-duration: 0.4s;
}
nav a:hover {
  transform: scale(1.1);
  color: #cf9535;
}

nav svg {
 width: clamp(1.2rem, 2.4vw, 1.8rem);
 height: clamp(1.2rem, 2.4vw, 1.8rem);
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh);
  background-color: #363945;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 3rem;
  top: 20vh;
  line-height: 1.8;
}
.hero strong {
  color: #a95144;
  font-size: 42px;
  text-align: center;
  font-weight: 500;
}
.hero h3 {
  color: #f2ebe6;
  font-size: 42px;
  text-align: center;
  font-weight: 400;
}
#workjump {

  position: absolute;
  bottom: -50vh;
  z-index: 2;
  border-radius: 10px;
  padding: 1rem 1.4rem;
  background-color: #a95144;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: large;
  font-weight: 500;
  color: #f2ebe6;
  transition-duration: 0.4s;
}
#workjump:hover {
  transform: scale(1.1);
  background-color: #f2ebe6;
  color: #a95144;
}
.about {
  display: flex;
  justify-content: space-between;
  background-color: #f2ebe6;
  padding: 10px 0px;
}

.about a {
  color: #cf9535;
}

.about aside {
  margin: 35px 20px;
  padding: 10px;
  flex: 1.4;
  font-family: "Manrope", sans-serif;
  font-size: clamp(1.5rem, 2.6vw, 1.9rem);
  line-height: 1.5;
}
.skills-section {
  margin: 35px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1.25;
}
.skills-section i {
  color: #a95144;
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 5px;
}
.skills-section svg {
  fill: #a95144;
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 5px;
}
.skills-section h6 {
  color: #89908c;
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin: 4px 0px;
}
.about h2 {
  color: #89908c;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0px;
}
.skills-section h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  margin: 5px 0px;
  color: #363945;
}
.skill-set {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; /* flex-wrap: wrap; */
}
.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 4px;
}
.projects {
  background-color: #363945;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects h2 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(2.2rem, 5vw, 4rem);
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 75px;
  color: #89908c;

}
.project-video {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 75px;
} 
.video-background{
  background-color: #cf9535;
  border-radius: 10px;
  width: 300px;
  height: 260px;
  margin: 0px;
  position: absolute;
  z-index: 0;
}
.project-video video:hover {
  transform: scale(0.95);
}
.project-video video {
  border-radius: 10px;
  width: 360px;
  margin: 40px;
  z-index: 1 ;
  transition-duration: 0.4s;
}

.reverse{
  flex-direction: row-reverse
}

.project-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 360px;
}
.projects button {
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  background-color: #a95144;
  border: none;
  margin: 10px 15px;
  font-family: "Manrope", sans-serif;
  font-size: clamp(0.9rem, 1.6vw, 1.62rem);
  color: #f2ebe6;
  transition-duration: 0.4s;
  font-weight: 500;
}
.project a{
  vertical-align: middle;
}
.project-buttons {
  display: flex;
  
}

.tech-used{
  display: flex;
  align-items: center;
}
.tech-used svg, i{
  color: #f2ebe6;
  fill: #f2ebe6;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  margin: 10px;
}
.project-buttons svg {
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  background-color: #a95144;
  border: none;
  margin: 10px 15px;
  font-family: "Manrope", sans-serif;
  font-size: clamp(1.3rem, 2.2vw, 2.19rem);
  color: #f2ebe6;
  transition-duration: 0.4s;
}
.projects button:hover {
  transform: scale(1.1);
  background-color: #f2ebe6;
  color: #a95144;
}

.project-buttons svg:hover {
  transform: scale(1.1);
  background-color: #f2ebe6;
  color: #a95144;
}
.projects h3 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-weight: 600;
  margin: 0px 15px;
  color: #cf9535;
}
.projects h4 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: 500;
  color: #f2ebe6;
  margin: 15px;
  line-height: 1.3;
}
.project-gallery {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* height: calc(50vh); */
  background-color: #f2ebe6;
}

.contact a {
  color: #cf9535;
  font-size: clamp(1.6rem, 2.6vw, 1.9rem);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-weight: 500;
}
a:link {
  text-decoration: none;
}
.contact svg {
  width: clamp(1.6rem, 2.6vw, 1.9rem);
  height: clamp(1.6rem, 2.6vw, 1.9rem); /* border: 1px solid black; */
}
@media (max-width: 800px) {
  .project-video{
    flex-direction: column;
  }
  .project-video video {

    margin: 35px 0px;
  }
  #workjump{
    bottom: -20vh;
  }
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
  
  .hero-text {
    flex-direction: column;
    top: 18vh;
  }
  .about h2 {
    margin-top: 0px;
  }
}

.contact p {
  text-align: center;
  margin: 40px 0px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: clamp(1.6rem, 2.6vw, 1.9rem);
  line-height: 1.5;
  color: #363945;
}

.contact form{
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}



.contact input {
  color: #363945;
  background: none;
  height: 40px;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
  border: 2px solid #a95144;
}

.contact label {
  color: #363945;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: clamp(1.6rem, 2.6vw, 1.9rem);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.contact textarea {
  color: #363945;
  height: 300px;
  background: none;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  border: 2px solid #a95144;
}
#submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border-radius: 10px;
  border: 2px solid #a95144;
  height: 40px;
  font-weight: 500;
  color: #363945;
  font-size: clamp(1.4rem, 2.4vw, 1.8rem);
  font-family: "Manrope", sans-serif;
  text-align: center;
  transition-duration: 0.4s;
}
#submit-button:hover {
  transform: scale(1.02);
  background-color: #a95144;
  color: #f2ebe6;
}

.contact h6 {
  text-align: center;
  color: #363945;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-right: 5px;
  font-weight: 500;
  margin: 30px
}
.contact h6 > a {
  color: #cf9535;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-right: 5px;
  font-weight: 500;
}